<clr-main-container>
    <clr-header>
        <div class="branding">
            <a href="/">
                <cds-icon shape="bolt"></cds-icon>
                <span class="title">BlogArray</span>
            </a>
        </div>
        <!-- <div class="header-nav">
        <a href="..." class="active nav-link" aria-current="page">
          <span class="nav-text">Dashboard</span>
        </a>
        <a href="..." class="nav-link"><span class="nav-text">Interactive Analytics</span></a>
      </div> -->
        <div class="header-actions">
            <clr-dropdown>
                <button class="nav-icon" clrDropdownTrigger aria-label="toggle settings menu">
                    <cds-icon shape="user"></cds-icon>
                    <cds-icon shape="angle" direction="down"></cds-icon>
                </button>
                <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                    <a href="..." clrDropdownItem>About</a>
                    <a href="..." clrDropdownItem>Preferences</a>
                    <a href="..." clrDropdownItem>Log out</a>
                </clr-dropdown-menu>
            </clr-dropdown>
        </div>
    </clr-header>
    <div class="content-container">
        <clr-vertical-nav [clrVerticalNavCollapsible]="true" [clr-nav-level]="1">
            <a clrVerticalNavLink routerLinkActive="active" routerLink="/">
                <cds-icon shape="dashboard" clrVerticalNavIcon></cds-icon>
                Dashboard
            </a>
            <clr-vertical-nav-group routerLinkActive="active">
                <cds-icon shape="pencil" clrVerticalNavIcon></cds-icon>
                Posts
                <clr-vertical-nav-group-children *clrIfExpanded>
                    <a clrVerticalNavLink routerLink="/posts" routerLinkActive="active">All posts</a>
                    <a clrVerticalNavLink routerLink="/post/add" routerLinkActive="active">Add new post</a>
                </clr-vertical-nav-group-children>
            </clr-vertical-nav-group>
            <clr-vertical-nav-group routerLinkActive="active">
                <cds-icon shape="file" clrVerticalNavIcon></cds-icon>
                Pages
                <clr-vertical-nav-group-children *clrIfExpanded>
                    <a clrVerticalNavLink routerLink="/pages" routerLinkActive="active">All pages</a>
                    <a clrVerticalNavLink routerLink="/page/new" routerLinkActive="active">Add new page</a>
                </clr-vertical-nav-group-children>
            </clr-vertical-nav-group>
            <clr-vertical-nav-group routerLinkActive="active">
                <cds-icon shape="tags" clrVerticalNavIcon></cds-icon>
                Categories
                <clr-vertical-nav-group-children *clrIfExpanded>
                    <a clrVerticalNavLink routerLink="./normal/snorlax" routerLinkActive="active">All categories</a>
                    <a clrVerticalNavLink routerLink="./normal/pidgey" routerLinkActive="active">Add new category</a>
                </clr-vertical-nav-group-children>
            </clr-vertical-nav-group>
            <clr-vertical-nav-group routerLinkActive="active">
                <cds-icon shape="file-group" clrVerticalNavIcon></cds-icon>
                Media
                <clr-vertical-nav-group-children *clrIfExpanded>
                    <a clrVerticalNavLink routerLink="./electric/pikachu" routerLinkActive="active">Library</a>
                    <a clrVerticalNavLink routerLink="./electric/raichu" routerLinkActive="active">Add new file</a>
                </clr-vertical-nav-group-children>
            </clr-vertical-nav-group>
            <clr-vertical-nav-group routerLinkActive="active">
                <cds-icon shape="users" clrVerticalNavIcon></cds-icon>
                Users
                <clr-vertical-nav-group-children *clrIfExpanded>
                    <a clrVerticalNavLink routerLink="./electric/pikachu" routerLinkActive="active">All users</a>
                    <a clrVerticalNavLink routerLink="./electric/raichu" routerLinkActive="active">Add new user</a>
                </clr-vertical-nav-group-children>
            </clr-vertical-nav-group>
            <clr-vertical-nav-group routerLinkActive="active">
                <cds-icon shape="cog" clrVerticalNavIcon></cds-icon>
                Settings
                <clr-vertical-nav-group-children *clrIfExpanded>
                    <a clrVerticalNavLink routerLink="./electric/pikachu" routerLinkActive="active">General</a>
                    <a clrVerticalNavLink routerLink="./electric/raichu" routerLinkActive="active">Email</a>
                    <a clrVerticalNavLink routerLink="./electric/raichu" routerLinkActive="active">Menus</a>
                    <a clrVerticalNavLink routerLink="./electric/raichu" routerLinkActive="active">Pages</a>
                    <a clrVerticalNavLink routerLink="./electric/raichu" routerLinkActive="active">Media</a>
                </clr-vertical-nav-group-children>
            </clr-vertical-nav-group>
        </clr-vertical-nav>
        <div class="content-area">
            <router-outlet></router-outlet>
            <footer class="clr-footer">
                <div class="copyright-content-wrapper">
                    <p class="footer-content-paragraph">
                        Thank you for using BlogArray
                    </p>
                </div>
            </footer>
        </div>
    </div>
</clr-main-container>