<h3 class="mb-3">Add new category</h3>
<div class="row">
    <div class="col-md-4">
        <form action="/admin/categories/edit" method="post" novalidate="novalidate">

            <input type="hidden" class="form-control" data-val="true" data-val-required="The Id field is required."
                id="Id" name="Id" value="0">
            <div class="mb-3">
                <label class="form-label required" for="Name">Name</label>
                <input class="form-control" type="text" data-val="true"
                    data-val-length="The field Name must be a string with a maximum length of 180."
                    data-val-length-max="180" data-val-required="Category is required." id="Name" maxlength="180"
                    name="Name" value="">
                <span class="text-danger field-validation-valid" data-valmsg-for="Name"
                    data-valmsg-replace="true"></span>
            </div>
            <div class="mb-3">
                <label class="form-label" for="Slug">Slug</label>
                <input class="form-control" aria-describedby="slugHelp" type="text" data-val="true"
                    data-val-length="The field Slug must be a string with a maximum length of 180."
                    data-val-length-max="180" id="Slug" maxlength="180" name="Slug" value="">
                <div id="slugHelp" class="form-text">
                    The “slug” is the URL-friendly version of the name.
                </div>
                <span class="text-danger field-validation-valid" data-valmsg-for="Slug"
                    data-valmsg-replace="true"></span>
            </div>
            <div class="mb-3">
                <label class="form-label" for="Description">Description</label>
                <textarea class="form-control" placeholder="Add description" aria-describedby="descHelp" data-val="true"
                    data-val-length="The field Description must be a string with a maximum length of 255."
                    data-val-length-max="255" id="Description" maxlength="255" name="Description"></textarea>
                <div id="descHelp" class="form-text">
                    Describe about the category briefly. This information may be displayed to the public based on theme.
                </div>
                <span class="text-danger field-validation-valid" data-valmsg-for="Description"
                    data-valmsg-replace="true"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Save changes" class="btn btn-primary">
            </div>
            <input name="__RequestVerificationToken" type="hidden"
                value="CfDJ8LY6qgeYUf9AkqZQ2xg2KJB6jiRlFtnRKvcHANXrwAqJMHdMl03JwGksfaCtTWdJhD6qHKEFmMhmPWCh0bQbpD9ZPRkc_l0QXflwU1lJH40weBpe-iV-NkhONJp733eJaeuXMHynO_Qj1wig-iwhQsmN2n3UoGzIMN-9U7qOIfcnBJYs99JRd_ncI5Cn3QBGtA">
        </form>
    </div>
</div>