<h3 class="mb-3">Content Settings</h3>

<div class="row">
    <div class="col-md-6">
        <form action="/admin/settings/general" method="post" novalidate="novalidate">
            <div class="mb-3">
                <input type="hidden" id="DefaultCover" name="DefaultCover"
                    value="/content/media/2024/7/42959cd2-99d3-41cc-86c5-2c0eca5371cc.webp">
                <label class="form-label" for="DefaultCover">Default cover image for a new post</label>
                <div class="hstack gap-3">
                    <img src="/content/media/2024/7/42959cd2-99d3-41cc-86c5-2c0eca5371cc.webp" id="site-icon"
                        width="150" class="rounded img-thumbnail" aria-describedby="iconHelp">
                    <button type="button" class="btn btn-light" onclick="openIconManager()">Change cover image</button>
                </div>
                <div id="iconHelp" class="form-text">
                    Site icons are displayed in browser tabs and bookmark bars. A square image of at least 512 × 512
                    pixels is recommended.
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="DefaultCategory">Default post category</label>
                <select class="form-select" id="DefaultCategory" name="DefaultCategory">
                    <option value="">-Select-</option>
                    <option value="1">Uncategorized</option>
                </select>
                <span class="text-danger field-validation-valid" data-valmsg-for="DefaultCategory"
                    data-valmsg-replace="true"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Save changes" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>