<div class="relative">
    <!-- Trigger Button -->
    <div (click)="toggleDropdown()" aria-expanded="true" aria-haspopup="true">
        <ng-container *ngTemplateOutlet="triggerTemplate"></ng-container>
    </div>

    <!-- Dropdown Menu -->
    <div *ngIf="isOpen"
        class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none z-10"
        role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
        <div class="py-1" role="none">
            <!-- Dropdown Items -->
            <ng-content></ng-content>
        </div>
    </div>
</div>