<div class="d-flex d-flex align-items-center justify-content-center min-vh-100 bg-body-tertiary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-8 col-lg-4 m-5">
                <div class="mb-4 d-flex">
                    <!-- <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/logo.svg" alt="logo" height="40"
                        class="m-auto d-flex" /> -->
                    <h1 class="m-auto">BlogArray</h1>
                </div>
                <div class="p-4 shadow bg-body rounded">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>